<div class="row login-row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
        <div class="main-visual">
                    <p class="main-visual-text">
                        ようこそ、ながのCAKEへ！<br>
                        このサイトは、ケーキ販売のECサイトになります。<br>
                        会員でない方も商品の閲覧はできますが、<br>
                        購入には会員登録が必要になります。
                    </p>
                    <%= image_tag "homes-top.jpg" %>
        </div>
    </div>
        <div class="recommend">
            <h2><strong>新着商品</strong></h2>
            <% @items.each do |item| %>
            <div class="product-box">
                <table class="table">
                    <tr>
                        <th><%= link_to item_path(item) do %>
                        <%= image_tag(item, :image, size: "180×130", fallback: "no_image.jpg") %>
                        <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th><%= link_to item.name, item_path(item) %></th>
                    </tr>
                    <tr>
                        <th>¥<%= (item.price*1.1).to_i %></th>
                    </tr>
                </table>
            </div>
         <% end %>
        </div>
    </div>
    <div class="index-link">
        <%= link_to "すべての商品を見る>", items_path %>
    </div>
</div>