<div class="container my-5">
    <div class="row">
        <h2>注文履歴詳細</h2>
        
        <table>
            <tr>
                <th class="order-show">購入者</th>
                <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
            </tr>
            
            <tr>
                <th class="order-show">注文日</th>
                <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
            
            <tr>
                <th class="order-show">配送先</th>
                <td>〒<%= @order.postal_code %><%= @order.address %><br><%= @order.name %></td>
            </tr>
            
            <tr>
                <th class="order-show">支払い方法</th>
                <td><%= @order.payment_method %></td>
            </tr>
            
            <tr>
                <th>注文ステータス</th>
                <td>
                    <%= form_with (model: @order, url: admin_order_path)
                </td>
            </tr>
        </table>
    </div>
    
    <div class="row mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>購入日時</th>
                    <th>購入者</th>
                    <th>注文個数</th>
                    <th>注文ステータス</th>
                </tr>
            </thead>
            
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M"), admin_order_path(order) %></td>
                    <td><%= order.customer.last_name %>
                        <%= order.customer.first_name %>
                    </td>
                    <td><%= order.order_details.amount %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>