<div class="container my-5">
    <div class="row 1">
        <h2 class="title"><strong><%= "商品一覧(全#{@amount}件)" %></strong></h2>
    </div>
    <div class="row 2">
        <% @items.each do |item| %>
        <div class="col-md-3">
            <%= link_to item_path(item) do %>
            <%= image_tag item.get_image %>
            <% end %>
            <br><br>
            <%= link_to item.name, item_path(item) %>
            ¥<%= (item.price*1.1).to_i %>
        </div>
        <% end %>
    </div><br>
        <%= paginate @items %>
</div>

