
<div class="container">
    <div class="row 1">
        <div class="col-md-6">
            <%= image_tag @item.get_image %>
        </div>
        <div class="col-md-6">
            <div class="row 2">
                <h3 class="title"><%= @item.name %></h3>
            </div>
            <div class="row 3">
                <p class="introduction"><%= @item.introduction %></p>
            </div><br>
            <div class="row 4">
                <h4 class="item-price">¥<%= (@item.price*1.1).to_i %><span>(税込)</span></h4>
            </div>
            <div class="row 5">
                <div class="col-xs-4">
                <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
                <%= f.label :amount, "個数選択" %>
                <%= f.number_field :amount, min: 1, max: 100, placeholder: '個数選択', class: "amount-select-form" %>
                <%= f.hidden_field :id, :value => @item.id %>
                <%= f.submit "カートに入れる", class: "btn btn-primary" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>